<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Sign in</title>
		<link rel="stylesheet" type="text/css" href="/style/theme/index.css"/>
		<script type="text/javascript" src="/js/vue.js"></script>
		<!-- import JavaScript -->
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>
	<body>
		<div id="app">
		    <div :style='divStyle'>            
		    <el-form label-width="100px" style="margin-top: 80px; margin-left: 20px; margin-right: 30px; margin-bottom: 50px;">
		      <el-form-item label="User Name: ">
		        <el-input name="name" v-model="ruleForm.name"></el-input>
			  </el-form-item>
		      <el-form-item label="Password: ">
		        <el-input show-password name="pwd" v-model="ruleForm.pwd"></el-input>
			  </el-form-item>
			  <el-form-item style="margin-left: 10px;">
			    <el-button style="width: 100px; height: 50px;" v-on:click="on_sign_in()">Sign In</el-button>
				<el-button style="width: 100px; height: 50px; margin-left: 50px;" v-on:click="on_sign_up()">Sign Up</el-button>
			  </el-form-item>
		    </el-form>
            </div>
		</div>
	</body>
	
	<script>
        Vue.prototype.$axios = axios;
        var app = new Vue({
            el: '#app',
            data: function() {
                return {
                    ruleForm: {
                        name: "",
                        pwd: ""
                    },
                    divStyle: "position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border-color: #29B19F; border-style: solid; width: 500px; height: 300px;"
                }
            },
            methods: {
                on_sign_in : function () {
                    this.$axios({
                        headers: {'Content-Type':'application/x-www-form-urlencoded'},
                        method: 'post',
                        url: '/sign_in/processing',
                        data: {
                            name: this.ruleForm.name,
                            pwd: this.ruleForm.pwd
                        }
                    });
                },
                on_sign_up : function () {
                    window.location.href="/sign_up";
                }
            }
        })

	</script>
</html>
