<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Sign in</title>
		<link rel="stylesheet" type="text/css" href="../static/style/theme/index.css"/>
		<script type="text/javascript" src="../static/js/vue.js"></script>
        <script type="text/javascript" src="../static/js/md5.js"></script>
		<!-- import JavaScript -->
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	</head>
	<body>
		<div id="app">
		    <div :style='divStyle'>            
		    <el-form label-width="100px" style="margin-top: 80px; margin-left: 20px; margin-right: 30px; margin-bottom: 50px;">
		      <el-form-item label="User Name: ">
		        <el-input name="name" v-model="ruleForm.name"></el-input>
			  </el-form-item>
		      <el-form-item label="Password: ">
		        <el-input show-password name="pwd" v-model="ruleForm.pwd"></el-input>
			  </el-form-item>
			  <el-form-item style="margin-left: 10px;">
			    <el-button style="width: 100px; height: 50px;" v-on:click="on_sign_in()">Sign In</el-button>
				<el-button style="width: 100px; height: 50px; margin-left: 50px;" v-on:click="on_sign_up()">Sign Up</el-button>
			  </el-form-item>
		    </el-form>
            </div>
            <div>{{test}}</div>
		</div>
	</body>
	
	<script>
        var app = new Vue({
            el: '#app',
            response: function() {
                return {
                    ruleForm: {
                        name: "",
                        pwd: ""
                    },
                    divStyle: "position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border-color: #29B19F; border-style: solid; width: 500px; height: 300px;",
                    websocket: null,
                    request: "",
                    response: "",
                    test: ""
                }
            },
            mounted() {
                if ('WebSocket' in window) {
                    this.websocket = new WebSocket('ws://localhost:1234');
                    this.initWebSocket();
                } else {
                    alert('Websocket is not supported by this browser!');
                }
            },
            beforeDestroy() {
                this.websocket.close();
            },
            methods: {
                initWebSocket() {
                    //connection occurs error
                    this.websocket.onerror = this.setErrorMessage;
                    //connection succeeds
                    this.websocket.onopen = this.setOnopenMessage;
                    //get response from Server
                    this.websocket.onmessage = this.setOnmessageMessage;
                    //connection closes
                    this.websocket.onclose = this.setOncloseMessage;
                    //connection closes automatically after leaving websites
                    window.onbeforeunload = this.websocket.close();
                },
                setErrorMessage() {
                    this.response = "WebSocket occurs error." + '   Status：' + this.websocket.readyState;
                },
                setOnopenMessage() {
                    this.response = "WebSocket succeeds." + '   status：' + this.websocket.readyState;
                },
                setOnmessageMessage(event) {
                    this.response = 'Server response：' + event.data;
                },
                setOncloseMessage() {
                    this.response = "WebSocket closes." + '   status：' + this.websocket.readyState;
                },
                //send message (JSON) to Server
                send() {
                    this.websocket.send(this.request);
                },
                on_sign_in : function () {
                    this.request = "{\n" +
                                        "type: \"LOGIN\",\n" +
                                        "username:" + this.ruleForm.name + ",\n" +
                                        "password:" + hex_md5(this.ruleForm.pwd) + "\n" +
                                    "}";
                    send();
                    this.test = JSON.parse(this.request);
                },
                on_sign_up : function () {
                    window.location.href="/sign_up";
                },

            }
        })

	</script>
</html>
